:root {
  --activ-color: #2196f3;
  --main-title-color: #212121;
  --discription-color: #757575;
  --text-white-color: #ffffff;
  --feature-color: #f5f4fa;
  --icon-color: #afb1b8;
  --transition-t-f: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", "Open Sans", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.button {
  font-family: inherit;
  cursor: pointer;
  border-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  background-color: #ffffff;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.logo-color {
  color: var(--activ-color);
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-item .link {
  display: block;
  padding: 32px 0;
  font-weight: 500;
  text-decoration: none;
  color: var(--main-title-color);
  font-size: 14px;
  line-height: 1.14;
  transition: color 250ms var(--transition-t-f);
}

.header-item .link:hover,
.header-item .link:focus {
  color: var(--activ-color);
}

.header-item .link-active {
  color: var(--activ-color);
}

.contact {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.contact-item .link {
  display: flex;
  padding: 32px 0;
  gap: 10px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
  text-decoration: none;
  transition: color 250ms var(--transition-t-f);
}

.contact-item .link:hover,
.contact-item .link:focus {
  color: var(--activ-color);
}

.mail-icon {
  fill: currentColor;
}

.phone-icon {
  fill: currentColor;
}

.hero {
  background-color: #2f303a;
  text-align: center;
  padding: 200px 0;
}

.hero-wrap {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-white-color);
  margin-bottom: 40px;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  color: var(--text-white-color);
  background-color: var(--activ-color);
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
}/*# sourceMappingURL=main.css.map */