.header {
  background-color: #ffffff;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}
.logo-color {
  color: var(--activ-color);
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-item .link {
  display: block;
  padding: 32px 0;

  font-weight: 500;
  text-decoration: none;
  color: var(--main-title-color);
  font-size: 14px;
  line-height: 1.14;

  transition: color 250ms var(--transition-t-f);
}

.header-item .link:hover,
.header-item .link:focus {
  color: var(--activ-color);
}

.header-item .link-active {
  color: var(--activ-color);
}
.contact {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.contact-item .link {
  display: flex;
  padding: 32px 0;
  gap: 10px;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
  text-decoration: none;

  transition: color 250ms var(--transition-t-f);
}

.contact-item .link:hover,
.contact-item .link:focus {
  color: var(--activ-color);
}

.mail-icon {
  fill: currentColor;
}

.phone-icon {
  fill: currentColor;
}
