.portfolio-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--main-title-color);
}

.portfolio-filter {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-button:hover,
.filter-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--text-white-color);
  background-color: var(--activ-color);
}
